.container {
    display: block;
    background-color: white; 
    font-size: 18px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 235px;
    background-color: #2c3e50; 
    color: #ecf0f1; 
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    box-sizing:border-box;
    overflow-y: auto;
    font-size: 18px;
    padding: 0px;
}

.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0px;
    display: flex;
    flex-direction: column; 
    align-items: stretch;
}

.sidebar a {
    text-decoration: none;
    color: #ecf0f1; 
    font-weight: 600;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.sidebar a:hover {
    background-color: #34495e; 
    color: #ffffff; 
    box-sizing: border-box;
}

.content {
    margin:0px 0px 0px 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh; 
    font-size: 18px;
    overflow-x: hidden; 
    width: calc(100% -100px);
}

.content h1 {
    font-size: 2.5rem;
    color: #34495e; 
    text-align: center;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.content h2 {
    font-size: 2rem;
    color: #7f8c8d; 
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.content h3 {
    font-size: 1.25rem;
    color: #2c3e50; 
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.content h4 {
    font-size: 1rem; 
    color: #95a5a6; 
    width: 100%;
    margin-bottom: 10px; 
    font-weight: bold; 
    box-sizing: border-box;
}

.content p {
    font-size: 1.125rem;
    color: #2c3e50; 
    margin-bottom: 30px;
}

.content ul {
    list-style: disc;
    margin-bottom: 20px;
    font-size: 18px;
    color: #2c3e50;
}

.content li {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
}

.content .code-container{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0px auto;
    box-sizing: border-box;
    color: #333333;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    overflow:auto;
    font-family: monospace;
    white-space: pre;
    line-height:normal;
}

.content .code-container pre,
.content .code-container code {
    margin: 0; 
    padding: 0;
    white-space: pre-wrap;
}

.content strong {
    color: #2c3e50; 
    font-weight: bold;
}

.content table {
    width: 100%;
    max-width: 650px; 
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.85em;
    text-align: left;
    white-space: nowrap;
    overflow: auto; 
    table-layout: fixed;
}

.content th, .content td {
    padding: 5px;
    border: 1px solid #bdc3c7; 
    white-space: nowrap;
    width: 180px;
}

.content thead {
    background-color: #ecf0f1;
    position: sticky;
    top: 0;
    z-index: 1;
    display: table-header-group;
    width: 100%;
}

.content tbody {
    display: table-row-group;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.content tbody tr {
    display: table-row;
    table-layout: auto;
}

.content tbody pre {
    margin: 0;
    padding: 10px;
    overflow: auto;
    font-family: monospace;
    white-space: pre;
    word-wrap: normal;
    text-align: left;
    font-size: 1rem;
}

.content tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.content tbody tr:hover {
    background-color: #e0e0e0; 
}

.content tbody::-webkit-scrollbar {
    width: 5px;
}

.content tbody::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 100px;
}

.content tbody::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

    