.container {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    font-size: 18px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 235px;
    background-color: #2c3e50; 
    color: #ecf0f1; 
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    font-size: 18px;
}

.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar a {
    text-decoration: none;
    color: #ecf0f1; 
    font-weight: 600;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 6px;
}

.sidebar a:hover {
    background-color: #34495e; 
    color: #ffffff; 
}

.content {
    margin:0px 0px 0px 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh; 
    font-size: 18px;
    overflow-x: hidden; 
    width: calc(100% -250px);
}

.content h1 {
    font-size: 4rem;
    color: #34495e; 
    text-align: center;
    width: 100%;
    margin: 0px;
}

.content h2 {
    font-size: 1.5rem;
    color: #7f8c8d; 
    margin: 0px;
}

.content h3 {
    font-size: 3rem;
    color: #2c3e50; 
    margin: 5px;
}

.content h4 {
    font-size: 1.25rem; 
    color: #95a5a6; 
    margin-bottom: 20px; 
    font-weight: bold; 
}

.content p {
    font-size: 1.125rem;
    color: #2c3e50; 
    margin-bottom: 30px;
}

.content .code-container{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1.5;
}

.content pre {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: monospace;
    white-space: pre;
    word-wrap: normal;
    text-align: left;
}

.content strong {
    color: #2c3e50; 
    font-weight: bold;
}

.content table {
    width: 100%;
    max-width: 650px; 
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
    white-space: nowrap;
    overflow: auto; 
    table-layout: fixed;
}

.content th, .content td {
    padding: 10px;
    border-bottom: 1px solid #bdc3c7; 
    display: table-cell;
    white-space: nowrap;
    width: 180px;
}

.content thead {
    display: block;
    background-color: #ecf0f1;
    width: calc(100% - 17px); 
}

.content tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    width: calc(100% - 17px);
}

.content tbody::-webkit-scrollbar {
    width: 8px;
}

.content tbody::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 10px;
}

.content tbody::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.content tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.content tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.content tbody tr:hover {
    background-color: #e0e0e0; 
}
    